html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  style: bold;
}

body {
    background-color: #303030;
}

.text-center {
  text-align: center;
}

ul {
  list-style: none;
}

.nav-btn {
  border-radius: 24px;
  font-size: 15px;
  color: #fff;
  border-color: #fff;
  background: transparent;
  height:40px;
  width: 120px;
  font-weight: bold;
}

.nav-btn:hover {
  background:#fff;
  color: #000;
}

#links {
  font-size: 15px;
}

#Home {
  color: white;
}

#Home:hover {
  font-weight: bold;
  text-decoration: none;
  color: #e5e5e5;
}

#nav {
  color: white;
}

#nav:hover {
  font-weight: bold;
  text-decoration: none;
  color: #e5e5e5;
  font-size: 16px;
}

#bubble {
  position: relative;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
  -webkit-filter:blur(8px);
  margin: auto;
  margin-top: 100px;
  width: 75%;
  height: 50%;
}

#hero-text {
  position: absolute;
  z-index: 1000;
  width: 100%;
  margin-top: -16%;
}

.btn-warning {
  width: 8%;
  margin-left: 46%;
  margin-right: 46%;
}


h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 100px;
  text-align: center;
  color: #fff;
}

#hero {
  background-image: url("images/ancient-sri-lanka.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 100%;
  width: 100%;
  position: relative;
}

#infopan {
  margin-top: 5%;
  width: 100%;
}

#title {
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}


/*Navigation Menu */

.custom-navigation {
  background: transparent;
  height: 70px;
  width: 100%;
  z-index: 999999999999;
}

.custom-navigation #logo {
  color: #fff;
  padding: 20px 0 0 25px;
  font-size: 24px;
}

.custom-navigation #links, #logo {
  display: inline-block;
}

.custom-navigation #links {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 25px 0 0;
}

/* Custom visible class */
.custom-navigation > #links.visible {
  background: rgba(0,0,0,0.7);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.custom-navigation #links > li {
  display: inline-block;
  color: #fff;
  padding-right: 20px;
}

.custom-navigation #links.visible > li {
  display: block;
  padding-right: 0;
  margin-top: 15px;
  font-size: 20px;
}

.push-about {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #000;
  margin-left: 6%;
  width: 45%;
  border-radius: 45px;
  color: #1d1d1d;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.push-about:hover {
    background: #f49400;
}

/* Media Queries */
@media(max-width: 767px) {
  /* Mobile Nav */

.custom-navigation > #links {
  display: none;
  padding: 0;
}

#close {
  display: none;
}

  .sm-dev-padding {
    padding-top: 60px;
  }
}

#footer {
  background-color: #fff;
  margin-top: 15%;
  text-align: center;
}

a:hover {
  text-decoration: none;
}
